@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

*,
*::after,
*::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: Raleway, Verdana, sans-serif;
    text-align: center;
    margin: 0;
}

.header{
    background: url("/Images/Background.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: auto;
    color: white;
    padding: 0 0 1rem 0;
}

li{
    list-style: none
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

h1{
    font-size: 4.2rem;
    padding-top: 0.8rem;
    letter-spacing: 0.3rem;
}

.header-text{
    padding-top: 80px;
    margin-bottom: 0;
    font-size: calc(2.1rem + 3vw);
}

nav{
    border-bottom: 1px solid #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 10; 
    width: 100%;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to top, #000000, #be2edd);
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;  
    margin: 0;
}

.cart-icon{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 640px){
    .nav-links{
        width: 80%;  
        padding-left: 0;
    }
    .cart-icon{
        width: 15%;
    }
}


.nav-links li{
    animation: slideIn 0.5s ease-in forwards;
}

.nav-links li:nth-child(1){
    transform: translateX(-800px)
}

.nav-links li:nth-child(2){
    transform: translateY(-400px);
    animation: bounce 0.5s ease-in 0.3s forwards;
}

.nav-links li:nth-child(3){
    transform: translateX(800px);
}

.nav-links a{
    position: relative;
    padding: 5% 0;
}
.nav-links a:hover{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-links a::after,
.nav-links a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2D9BCD;
    transform: scaleX(0);
    transition: all 0.4s ease-in;
}

.nav-links a::after{
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.nav-links a::before{
    top: 0;
    transform-origin: left;
}

.nav-links a:hover::before,
.nav-links a:hover::after{
    transform: scaleX(1)
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0)
    }
}

@keyframes bounce{
    from{

    }
    70%{
        transform: translateY(2px)
    }
    100%{
        transform: translateY(0)
    }
}

.hdr-btn{
    display: block;
    border: 2px solid #2D9BCD;
    padding: 0.85rem;
    font-size: 1.2rem;
    color: white;
    background: transparent;
    margin: 1.6rem auto;
}

.hdr-btn:hover{
    background: rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.play-btn{
    border-radius: 50%;
    color: #2D9CDB;
    font-size: 4rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    padding: 0.1rem 0.7rem;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 2fr 4fr 2fr;
    text-align: left;
    padding: 2% 0;
    border-bottom:1px solid #111;
}

.schedule{
    width: 80%;
    margin: 0 auto;
    overflow-x: scroll;
}

.schedule .buyTicket{
    min-width: 108px;
}
.buyTicket{
    padding: 5% 6%;
    width: 45%;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(45deg, #000000, #be2edd);
    font-size: 0.7em;
    font-weight: 700;
    border: #56CCF2;
}

.buyTicket:hover{
    background-color: #2D9BCD;
}
@media screen and (max-width:720px){
    .schedule .buyTicket{
        padding: 3%;
        min-width: 90px;
        height: 30px;
    }
    
}

@media screen and (max-width:500px){
    .buyTicket{
        padding: 2%;
    }
    .grid{
        grid-template-columns: 50px 100px 100px 100px;
        grid-column-gap: 10px;
        min-width: 380px;
    }
}

.date{
    color: #333;
    font-weight: bold;
}

.location{
    color: #777
}

.footer{
    background-color: #56CCF2;
    margin-top: 4%;
    color: white;
    display: flex;
    min-height: 15vh;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.footer-text{
    font-size: 3em;
    margin-bottom: 0;
}
.social{
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center; 
}

.social img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:540px){
    .footer{
       flex-direction: column;
       align-content: center;
    }
    .footer-text{
        width: 100%;
        font-size: 2.5em;
    }
    .social{
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
        margin: 10px 0 10px;
    }
    .social img{
        width: 20px;
        height: 20px;
        margin-left: 2em;
    }
    .social img:first-child{
        margin-left: 0;
    }
} 

.music-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    width: 60%;
    margin: 0 auto;
    grid-row-gap: 5%;
    padding-bottom: 50px;
}

@media screen and (max-width:1040px){
    .music-grid{
        grid-row-gap: 2%;
    }
}

@media screen and (max-width:640px){
    .music-grid{
        width: 80%;
        grid-row-gap: 2%;
    }
}

h2{
    font-size: 2em;
    font-family: "Metal Mania"
}
.music-grid .price{
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
}

.music-grid>div{
    width: 75%;
    margin: 0 auto;
}

.music-grid>div:nth-child(2n) {
   justify-self: right;
}

img{
    width: 100%;
}
.music-grid li P{
        font-weight: bold;
    }

.merch{
    padding-top: 5%;
}

#coffee-Li{
    padding-top: 26%;
}

.cart{
    width: 80%;
    margin: 0 auto;
    
}
@media screen and (max-width: 1040px){
    .cart{
        padding-top: 7vw;
    }
}

.cart-item li{
    border-bottom: 1px solid grey;
    align-self: center;
    height: 100%;   
}

.cart-item:last-child li{
    border-bottom: transparent;
}

#cart-grid{
    border-bottom: 1px solid black;
}

.cart-header li{
    text-transform: uppercase;
    font-size: 140%;
    font-weight: 550;
    border-bottom: 1px solid black;
    text-align: left;
    color: #333;
}

.cart-item{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-column-gap: 5%;
    align-items: center;
}

.cart-item img{
    width: 20%;
    border-radius: 5px;
    margin-right: 10%;
}

@media screen and (max-width:720px){
    .cart-item{
        grid-template-columns: 3fr 2fr 2fr;
    }
}

@media screen and (max-width:500px){
    .cart-item{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cart-item.item li:first-child{
        padding-left: 5px;
        padding-right: 10px;
    }
    .cart-item img{
        width: 100%;
        border-radius: 5px;
    }
}

.removebtn{
    background-color: #EB5757;
    font-size: calc(0.5rem + 1.1vw);
    padding: 3%; 
    width: 50px;
    height: calc(40px + 1vw);
}

.removebtn:hover{
    background-color: #CC4C4C;
}

input[type="number"]{
    width:35%;
    padding: 3%;
    margin-right: 10%;
    height: calc(40px + 1vw);
}

@media screen and (max-width:720px){
    input[type="number"]{
        width: 50%;
    }
}


.item li p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 145%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cart-item.item li{
    display: flex;
    align-content: center;
}

#summation {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width:500px){
    .product-name{
        display: none;
    }
}

#summation p{
    padding: 0 2% 0 0;
    font-weight: bold;
    font-size: 160%;
}
#summation span:first-of-type{
   padding-left: 25%;
}

@media screen and (max-width:720px){
    #summation span:first-of-type{
        padding-left: 5%;
     }
}
.purchase{
    width: 20%;
    padding: 2% 3%;
    text-transform: uppercase;
    min-width: 120px;
    font-size: calc(0.6rem + 1vw);
}

.change-qty{
    display: flex; 
    width: 45%; 
    height: 48px;
    align-items: center;
}
.change-qty>*{
    flex: 1;
}
.change-qty>button{
    background-image: linear-gradient(275deg, #000000, #be2edd);
    border-color: #be2edd;
    color: white;
}
.change-qty>button:focus{
    outline: none;
}